body {
  background: #ffffe0;
  color: black;
  font-family: sans-serif;
  margin: 0px;
  --ll-active-color: #22222c;
  --ll-normal-color: #3a3a3a;

}

@media (prefers-color-scheme: dark) {
  body {
    background: #2a2a2e;
    color: #ccc;
  }
}


.darkmode {
  background: #2a2a2e;
  color: #ccc;
}
html::-webkit-scrollbar{
  display: none;
}
