body {
  background: #ffffe0;
  color: black;
  font-family: sans-serif;
  margin: 0px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #2a2a2e;
    color: #ccc;
  }
}

.darkmode {
  background: #2a2a2e;
  color: #ccc;
}
html::-webkit-scrollbar {
  display: none;
}
